{% extends 'core/base.html' %}

{% load static %}

{% block content %}
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div>
                Listado de Solicitudes
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col text-center">
                    <p class="display-6">Usted no tiene asignada ninguna sala, contáctese con el área de informática</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
