<div class="modal-dialog">
    <div class="modal-content">
        <form id="form_modal_data" method="post" data-url="{{ form_url }}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="modal_data_label">{{ modal_title }}</h5>
                <button type="button" class="btn-close" id="btn_modal_close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <p class="lead">Sincronizar Areas de INATEC</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-warning">Sincronizar</button>
            </div>
        </form>
    </div>
</div>
