{% extends 'core/base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'core/vendor/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendor/select2/css/select2-bootstrap-5-theme.min.css' %}">
{% endblock %}

{% block content %}
    <div class="card my-3">
        <div class="card-header d-flex justify-content-between">
            <div>
                Listado de Salas/Usuarios
            </div>
            <div>
                <button id="btn_sync" class="btn btn-outline-warning" data-url="{% url 'catalogos:salas_sync' %}">
                    <i class="fas fa-sync"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <table id="tb_data" class="table">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Privada</th>
                    <th>Usuarios</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="modal_data" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="modal_data_label" aria-hidden="true">
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'core/vendor/select2/js/select2.min.js' %}"></script>
    <script>
        const TB_DATA = $('#tb_data');
        const BTN_SYNC = $('#btn_sync');
        const BTN_EDIT = $('.btn_edit');
        const MODAL_DATA = $('#modal_data');

        $(function () {
            loadDataTable();
        });

        function loadDataTable() {
            TB_DATA.DataTable({
                responsive: true,
                autoWidth: false,
                destroy: true,
                ordering: false,
                deferRender: true,
                language: {
                    url: '{% static 'core/json/spanish.json' %}'
                },
                ajax: {
                    url: window.location.pathname,
                    type: 'post',
                    dataSrc: ''
                },
                columns: [
                    {'data': 'nombre'},
                    {'data': 'correo'},
                    {'data': 'privada_display'},
                    {'data': 'usuarios'},
                    {'data': 'estado'},
                ],
                columnDefs: [
                    {
                        targets: [-1],
                        class: 'text-center',
                        orderable: false,
                        render: function (data, type, row) {
                            let html_ = '';
                            if (row.estado === 1) {
                                html_ = `<button class="btn btn-warning btn-sm btn-edit" title="Editar" data-url="${row.url_update}"><i class="fa fa-edit"></i></button>`;
                            }
                            return html_;
                        }
                    }
                ]
            });
        }

        BTN_SYNC.click(function (event) {
            event.preventDefault();
            showModal(this);
        });

        $(document).on('click', '.btn-edit', function (event) {
            event.preventDefault();
            showModal(this);
        });

        function showModal(obj) {
            const url = $(obj).data('url');
            MODAL_DATA.empty().load(url, function () {
                $(this).modal('show');
            });
        }

        $(document).on('submit', '#form_modal_data', function (event) {
            event.preventDefault();
            const frm = $(this).get(0);
            const form = new FormData(frm);
            $('#form_modal_data :submit').attr('disabled', 'true');
            $.ajax({
                url: $(this).data('url'),
                type: 'post',
                dataType: 'json',
                contentType: false,
                processData: false,
                data: form
            }).done(function (data) {
                if (!data.hasOwnProperty('error')) {
                    Toast.fire({
                        icon: 'success',
                        title: data.success
                    });
                    $('#btn_modal_close').click();
                    $('#form_modal_data :submit').removeAttr('disabled');
                    setTimeout(function () {
                        loadDataTable();
                    }, timer);
                } else {
                    $('#form_modal_data :submit').removeAttr('disabled');
                    messageError(data.error)
                }
            });
        });
    </script>
{% endblock %}
